<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <appSettings>
        <add key="SsWinTemp" />
        <add key="LocalPort" />
        <add key="Global" value="True" />
        <add key="Enabled" value="False" />
        <add key="PacUrl" />
        <add key="UseOnlinePac" />
        <add key="Language" value="简体中文" />
        <add key="AutoStartup" />
        <add key="ExitOnClose" value="True" />
        <add key="ServerTimeout" />
        <add key="ProxyTimeout" />
        <add key="ReadMsgIds" />
    </appSettings>
</configuration>